 .u-section-1 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-1 .u-sheet-1 {
  min-height: 316px;
}

.u-section-1 .u-text-1 {
  margin: 210px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 359px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-1 {
  width: 414px;
  height: 93px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 239px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 255px;
  height: 100px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 478px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 197px;
  }

  .u-section-2 .u-image-1 {
    width: 410px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 432px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 151px;
  }

  .u-section-2 .u-image-1 {
    width: 300px;
    height: 68px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 151px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 735px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 227px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 227px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 567px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 143px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 143px;
  }
} .u-section-3 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-3 .u-sheet-1 {
  min-height: 125px;
}

.u-section-3 .u-text-1 {
  margin: 43px auto;
}.u-section-4 .u-sheet-1 {
  min-height: 337px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 47px;
  margin-bottom: 47px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 244px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 14px;
}

.u-section-4 .u-image-1 {
  height: 77px;
  margin-top: 55px;
  margin-bottom: 0;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-4 .u-layout-cell-2 {
  min-height: 244px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-image-2 {
  width: 183px;
  height: 150px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 19px auto 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 244px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-image-3 {
  width: 240px;
  height: 82px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 55px auto 0 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 201px;
  }

  .u-section-4 .u-image-1 {
    height: 62px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 201px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 201px;
  }

  .u-section-4 .u-image-3 {
    margin-left: 13px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 236px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 154px;
  }

  .u-section-4 .u-image-1 {
    height: 46px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 154px;
  }

  .u-section-4 .u-image-2 {
    width: 180px;
    height: 148px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 154px;
  }

  .u-section-4 .u-image-3 {
    width: 180px;
    height: 61px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 841px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 347px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-1 {
    height: 113px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 347px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 347px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 553px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 218px;
  }

  .u-section-4 .u-image-1 {
    height: 70px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 218px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 218px;
  }

  .u-section-4 .u-image-3 {
    margin-left: auto;
  }
} .u-section-5 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-5 .u-sheet-1 {
  min-height: 125px;
}

.u-section-5 .u-text-1 {
  margin: 43px auto;
}.u-section-6 .u-sheet-1 {
  min-height: 410px;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 310px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-image-1 {
  width: 160px;
  height: 160px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 310px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-image-2 {
  width: 225px;
  height: 180px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 30px auto 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 310px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  width: 160px;
  height: 199px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 296px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-6 .u-image-2 {
    width: 180px;
    height: 144px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 196px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 982px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 441px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 278px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 278px;
  }
} .u-section-7 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-7 .u-sheet-1 {
  min-height: 125px;
}

.u-section-7 .u-text-1 {
  margin: 43px auto;
}.u-section-8 .u-sheet-1 {
  min-height: 795px;
}

.u-section-8 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 311px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-image-1 {
  width: 206px;
  height: 291px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 311px;
}

.u-section-8 .u-container-layout-2 {
  padding: 10px 30px;
}

.u-section-8 .u-image-2 {
  width: 195px;
  height: 282px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 311px;
}

.u-section-8 .u-container-layout-3 {
  padding: 10px 30px;
}

.u-section-8 .u-image-3 {
  width: 203px;
  height: 271px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 57px 0 auto;
}

.u-section-8 .u-layout-wrap-2 {
  margin-top: 60px;
  margin-bottom: 53px;
}

.u-section-8 .u-layout-cell-4 {
  min-height: 311px;
}

.u-section-8 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-8 .u-video-1 {
  width: 190px;
  height: 291px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-5 {
  min-height: 311px;
}

.u-section-8 .u-container-layout-5 {
  padding: 10px 30px;
}

.u-section-8 .u-video-2 {
  width: 190px;
  height: 291px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 311px;
}

.u-section-8 .u-container-layout-6 {
  padding: 10px 30px;
}

.u-section-8 .u-video-3 {
  width: 190px;
  height: 291px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 256px;
  }

  .u-section-8 .u-image-2 {
    height: 283px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-8 .u-image-3 {
    margin-right: 50px;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 256px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 256px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 256px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 565px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-8 .u-image-1 {
    width: 180px;
    height: 254px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-8 .u-image-2 {
    width: 180px;
    height: 261px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 196px;
  }

  .u-section-8 .u-image-3 {
    width: 180px;
    height: 240px;
    margin-right: 0;
  }

  .u-section-8 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-8 .u-video-1 {
    width: 180px;
    height: 276px;
  }

  .u-section-8 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-8 .u-video-2 {
    width: 180px;
    height: 276px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }

  .u-section-8 .u-video-3 {
    width: 180px;
    height: 276px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1937px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-1 {
    width: 292px;
    height: 413px;
    margin-top: 3px;
    margin-right: 106px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 426px;
  }

  .u-section-8 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-8 .u-image-2 {
    width: 292px;
    height: 416px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 411px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    width: 276px;
    height: 386px;
    margin-top: 5px;
    margin-right: auto;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1285px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 278px;
  }

  .u-section-8 .u-image-1 {
    margin-right: 28px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 268px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 259px;
  }

  .u-section-8 .u-container-layout-3 {
    padding-top: 1px;
    padding-bottom: 1px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 279px;
  }
} .u-section-9 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-9 .u-sheet-1 {
  min-height: 125px;
}

.u-section-9 .u-text-1 {
  margin: 43px auto;
}.u-section-10 .u-sheet-1 {
  min-height: 338px;
}

.u-section-10 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 40px;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 238px;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px;
}

.u-section-10 .u-image-1 {
  width: 160px;
  height: 160px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 238px;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px;
}

.u-section-10 .u-image-2 {
  width: 160px;
  height: 160px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-3 {
  min-height: 238px;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px;
}

.u-section-10 .u-image-3 {
  width: 160px;
  height: 160px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 291px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 196px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 196px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 196px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 240px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 150px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 150px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 150px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-10 .u-layout-wrap-1 {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 212px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 212px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 548px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 133px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 133px;
  }

  .u-section-10 .u-layout-cell-3 {
    min-height: 133px;
  }
} .u-section-11 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-11 .u-sheet-1 {
  min-height: 342px;
}

.u-section-11 .u-text-1 {
  margin: 26px auto 0;
}

.u-section-11 .u-text-2 {
  font-size: 1.875rem;
  margin: 45px auto 0;
}

.u-section-11 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#30add4, #18234b);
  margin: 74px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
  }
}