 .u-section-1 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-1 .u-sheet-1 {
  min-height: 289px;
}

.u-section-1 .u-text-1 {
  margin: 208px auto 42px;
}.u-section-2 .u-sheet-1 {
  min-height: 304px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 20px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-2 .u-image-1 {
  width: 195px;
  height: 240px;
  margin: 0 auto 0 128px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 3px auto 0 173px;
}

.u-section-2 .u-text-2 {
  margin: 20px auto 0 173px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-2 .u-image-1 {
    margin-left: 105px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 102px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 577px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: 30px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 270px;
  }

  .u-section-2 .u-container-layout-1 {
    padding: 15px 10px;
  }

  .u-section-2 .u-image-1 {
    margin-left: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 266px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 11px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 170px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 102px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 102px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 304px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 20px;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-3 .u-text-1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 129px;
}

.u-section-3 .u-text-2 {
  margin: 20px auto 0 129px;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0 129px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-3 .u-container-layout-2 {
  padding: 14px 30px;
}

.u-section-3 .u-image-1 {
  width: 483px;
  height: 240px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-3 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-3 .u-image-1 {
    width: 410px;
    height: 204px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 94px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 94px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-3 .u-image-1 {
    width: 300px;
    height: 149px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 527px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-bottom: 25px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 233px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 18px;
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 258px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 195px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 162px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 304px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 20px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-4 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-4 .u-image-1 {
  width: 393px;
  height: 240px;
  margin: 0 auto;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  margin: 0 auto 0 173px;
}

.u-section-4 .u-text-2 {
  margin: 20px auto 0 173px;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 249px;
  }

  .u-section-4 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 225px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 139px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 139px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 172px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 172px;
  }

  .u-section-4 .u-image-1 {
    width: 300px;
    height: 183px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 102px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 102px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 552px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 258px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 263px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 23px 10px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-top: 26px;
    margin-left: auto;
  }

  .u-section-4 .u-text-3 {
    width: auto;
    margin-top: 21px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 397px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 162px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 102px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 102px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 304px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 11px;
  margin-bottom: 20px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-1 {
  padding: 17px 30px;
}

.u-section-5 .u-text-1 {
  margin: 7px auto 0 174px;
}

.u-section-5 .u-text-2 {
  margin: 21px auto 0 174px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 273px;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  width: 502px;
  height: 240px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 256px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 6px;
    margin-left: 130px;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 20px;
    margin-left: auto;
  }

  .u-section-5 .u-text-3 {
    margin-top: 22px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 225px;
  }

  .u-section-5 .u-image-1 {
    width: 470px;
    height: 225px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 203px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 95px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 172px;
  }

  .u-section-5 .u-image-1 {
    width: 360px;
    height: 172px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 389px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 245px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    margin-left: auto;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 258px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 162px;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 162px;
  }
} .u-section-6 {
  background-image: linear-gradient(to right, black, #18234b);
}

.u-section-6 .u-sheet-1 {
  min-height: 342px;
}

.u-section-6 .u-text-1 {
  font-size: 1.875rem;
  margin: 26px auto 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.875rem;
  margin: 45px auto 0;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: linear-gradient(#30add4, #18234b);
  margin: 74px auto 60px;
}

@media (max-width: 575px) {
  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }
}